Options All -Indexes +FollowSymLinks
ServerSignature Off
AddDefaultCharset UTF-8
DefaultLanguage en
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ $1/ [L,R=301]
